<!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 -->
 <head>
   <title>Administration Panel</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">CMS</a><span>Server Management</span>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/adminhome">Home </a>
       </li>
       <!-- <li class="nav-item">
         <a class="nav-link" href="#">Plans</a>
       </li> -->
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Accounts
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/add_new_account">Add new accounts</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/view_all_account">View all accounts</a>
         </div>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Customers<span class="sr-only">(current)</span>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="add_new_customers">Add new customers </a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/view_all_customers">View all customers</a>
         </div>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Plans
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/add_new_plans">Add new plans</a>
           <div class="dropdown-divider"></div>

           <a class="dropdown-item" href="/view_all_plans">view all plans</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="/admin_logout">Logout</a>
       </li>
     </ul>
     <!-- <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form> -->
   </div>
  </nav>
<!-- 444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 -->
<script>
   $(document).ready(function(){
     // alert("loaded")
     $('#search_by').change(function(){
       var name=$('#search_item').val();
       var search_by=$('#search_by').val();
       // alert(search_by);

       //AJAX code
         var name="name="+name;
       $.ajax({
         url:'search_in_accounts',
         data:name,
         type:'get',
         success:function(response){

           var data='';
           console.log(response.data);
           for(var i=0;i<response.data.length;i++)
           {
               // alert(response.data[i].customer_name);
             data=data+"<table class='table table-hover'>"+
                 "<thead>"+
                   "<tr>"+
                     "<th>Customer Name</th>"+
                     "<th>Domain Name</th>"+
                     "<th>Domain Taken</th>"+
                     "<th>Plan</th>"+
                     "<th>Time Period</th>"+
                     "<th>Registerd Date</th>"+
                     "<th>Expiry Date</th>"+
                     "<th>Domain Charges</th>"+
                     "<th>Hosting Charges</th>"+
                     "<th>Total Charges</th>"+
                   "</tr>"+
                 "</thead>"+
             "<tbody>"+
                     "<tr>"+
                     "<td>"+response.data[i].customer_name+"</td>"+
                     "<td>"+response.data[i].domain_name+"</td>"+
                     "<td>"+response.data[i].domain_taken+"</td>"+
                     "<td>₹"+response.data[i].plan_price+"</td>"+
                     "<td>"+response.data[i].time_period+" Years</td>"+
                     "<td>"+response.data[i].registerd_date+"</td>"+
                     "<td>"+response.data[i].expiry_date+"</td>"+
                     "<td>₹"+response.data[i].domain_charges+"</td>"+
                     "<td>₹"+response.data[i].hosting_charges+"</td>"+
                     "<td>₹"+response.data[i].total_charges+"</td>"+
                 "</tr>"+


               "</tbody>";
           }//loop end
             // alert(data);
           $('#result').html(data);




            //alert(response.data[0].customer_name);
           // $('#x').html("Customer name is:"+response.data[0].customer_name);
           // $('#y').html("Plan price is: ₹"+response.data[0].plan_price);
           // $('#z').html("Time Period is:"+response.data[0].time_period+"years");

         }//success fun end
       })//ajax end
   });
 });
</script>
<div class="container">
<div class="jumbotron"><h2>All Accounts Details</h2>{{msg}}
<input type="text" id="search_item" name="search_item"/>
      Search by :<select id="search_by"><option>Plan</option><option>Name</option><option>Time Period</option></select>


     <a href="/view_all_account" style="float:right;text-decoration:none;color:black;">View all Accounts</a>
</div>
<div id="result">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Domain Name</th>
        <th>Domain Taken</th>
        <th>Plan</th>
        <th>Time Period</th>
        <th>Registerd Date</th>
        <th>Expiry Date</th>
        <th>Domain Charges</th>
        <th>Hosting Charges</th>
        <th>Total Charges</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      {{# each data}}
        <tr>
          <td>{{this.customer_name}}</td>
          <td>{{this.domain_name}}</td>
          <td>{{this.domain_taken}}</td>
          <td>₹{{this.plan_price}}</td>
          <td>{{this.time_period}} Years</td>
          <td>{{this.registerd_date}}</td>
          <td>{{this.expiry_date}}</td>
          <td>₹{{this.domain_charges}}</td>
          <td>₹{{this.hosting_charges}}</td>
          <td>₹{{this.total_charges}}</td>
          <td><a href="/delete_account?name={{this.customer_name}}" onclick="return confirm('Do you really want ot delete the account?')"><span  class="fa fa-trash" aria-hidden="true"></span></a></td>
          <td><a href="/update_account?name={{this.customer_name}}" <span class="fa fa-pencil" aria-hidden="true"></span></a></td>
      </tr>
          {{/each}}

    </tbody>
  </table>


</div>
</div>
<style>
#search_item{
  border-radius: 15px;
  margin-left: 10px;
  color:green;
}
#sicon{
  text-decoration:none;
  color: black;
  border: none;
}
</style>
